.section-1 {
    background-color: #000;
}

.sobre {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.sobre h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.sobre h2 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.sobre p {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 20px;
}

.cinza {
    color: rgb(157, 156, 156);
}

@media screen and (max-width:768px) {
    .sobre h1 {
        margin-top: 50px;
        margin: 30px 10px 10px 10px; 
        text-align: left;
        font-size: 2rem;
        color: #fff;
    }
    .sobre h2 {
        color: #fff;
        margin: 10px 10px; 
        text-align: left;
    }
    .sobre p {
        color: #fff;
        font-size: 1.2rem;
        margin: 30px 10px; 
        text-align: left;
    }
}

@media screen and (max-width:968px) {
    .sobre p {
        color: #fff;
        font-size: 1.3rem;
        margin: 30px 10px; 
        text-align: left;
    }
}